.list-item {
  height: 100px; /* otherwise obsever decides that all entries is intersecting */
  transition: opacity .25s ease-out .2s;
  margin-bottom: 10px;
}

.list-item.visible {
  opacity: 1;
}

.content {
  max-width: 500px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D6A3FB;
  font-size: 18px;
}